* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#content-wrapper {
  background-color: lightgray;
  height: 100vh;
}

h2 {
  margin-left: 2%;
}

#block {
  height: 34vh;
  background-color: azure;
}

#inline {
  height: 33vh;

  background-color: aquamarine;
}

#inline-block {
  height: 33vh;

  background-color: dodgerblue;
}
